<div class="main">
    <form [formGroup]="form">
        <div *ngIf="devEnvs().length" formArrayName="devEnvs">
            <mat-card *ngFor="let devEnv of devEnvs().controls; let i=index">
                <mat-card-header>
                    <mat-card-title>{{devEnv.get("name")?.getRawValue()}}</mat-card-title>
                    <mat-card-subtitle>Development Environment</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div [formGroupName]="i">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label><span>Image</span></mat-label>
                            <input matInput formControlName="image">
                        </mat-form-field>            

                        <span class="flex" formArrayName="command">
                            <span *ngFor="let comm of commands(i).controls; let j=index">
                                <mat-form-field class="inline" appearance="outline">
                                    <mat-label><span>Command</span></mat-label>
                                    <input matInput [formControlName]="j">
                                </mat-form-field>    
                            </span>
                            <button *ngIf="commands(i).controls.length > 0" mat-icon-button (click)="addCommand(i, '')">
                                <mat-icon>add</mat-icon>
                            </button>                
                            <button *ngIf="commands(i).controls.length == 0" mat-flat-button (click)="addCommand(i, '')">Add command</button>
                        </span>

                        <span class="flex" formArrayName="args">
                            <span *ngFor="let arg of args(i).controls; let j=index">
                                <mat-form-field class="inline" appearance="outline">
                                    <mat-label><span>Arg</span></mat-label>
                                    <input matInput [formControlName]="j">
                                </mat-form-field>    
                            </span>
                            <button *ngIf="args(i).controls.length > 0" mat-icon-button (click)="addArg(i, '')">
                                <mat-icon>add</mat-icon>
                            </button>                
                            <button *ngIf="args(i).controls.length == 0" mat-flat-button (click)="addArg(i, '')">Add arg</button>
                        </span>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button (click)="save(i)">Save</button>
                    <button mat-flat-button>Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="nothingHere" *ngIf="!devEnvs().length"><i>No Development environment</i></div>

        <div class="newButton">
            <button *ngIf="!showCreate" mat-flat-button (click)="showCreate = true">New Development Environment</button>
        </div>

        <mat-card *ngIf="showCreate">
            <mat-card-header>
                <mat-card-title>New Development Environment</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field appearance="outline" class="mid-width">
                        <mat-label><span>Name</span></mat-label>
                        <input matInput [formControl]="newName">
                    </mat-form-field>            
                    <mat-form-field appearance="outline" class="mid-width">
                        <mat-label><span>Image</span></mat-label>
                        <input matInput [formControl]="newImage">
                    </mat-form-field>            
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button (click)="createNew()">Create</button>
                <button mat-flat-button (click)="createCancel()">Cancel</button>
            </mat-card-actions>
        </mat-card>

    </form>
</div>