<div class="main">
    <form [formGroup]="form">
        <div *ngIf="devEnvs().length" formArrayName="devEnvs">
            <mat-card *ngFor="let devEnv of devEnvs().controls; let i=index">
                <mat-card-header>
                    <mat-card-title>{{devEnv.get("name")?.getRawValue()}}</mat-card-title>
                    <mat-card-subtitle>Development Environment</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div [formGroupName]="i">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label><span>Image</span></mat-label>
                            <input matInput formControlName="image">
                        </mat-form-field>
                        <app-multi-text formControlName="command" label="Command" addLabel="Add command"></app-multi-text>
                        <app-multi-text formControlName="args" label="Arg" addLabel="Add arg"></app-multi-text>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button (click)="update(i)">Save</button>
                    <button mat-flat-button>Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="nothingHere" *ngIf="!devEnvs().length"><i>No Development environment</i></div>

        <app-new-dev-env [showForm]="showCreate"></app-new-dev-env>

    </form>
</div>